<!doctype html>
<html lang=en>
    <head>
        <meta charset="utf-8">
        <title>Energy Logger 4000</title>
    </head>
    <body>
        <h1>Energy Logger 4000</h1>
        <form action="process" method="POST" enctype="multipart/form-data">
            Select ZIP file containing BIN files from Energy Logger 4000:
            <br>
            <input type="file" name="zipFile" id="zipFile">
            <input type="submit" value="Process" name="submit">
        </form>
    </body>
</html>
